<div class="card chats">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-3">
                <%= render partial: 'chats' %>
            </div>

            <div class="col d-flex flex-column border-left">
                <div class="m-auto">
                    Select a chat to start chatting or use the navbar to find more users!
                </div>
            </div>
        </div>
    </div>
</div>