<footer>
<div class="sticky-bottom footer">
    <div class="pt-2 pb-2 container">
        <div class="d-flex flex-wrap-reverse">
            <div class="text-muted">
                Copyright © 2020 Acara Italy. All rights reserved
            </div>
            <div class="ml-auto">
                <a href="#">About Us</a>
                <a class="ml-4" href="#">Contact Acara</a>
            </div>
        </div>
    </div>
</div>
</footer>